@model dynamic

@{
    ViewBag.Title = "ShoutboxMVC";
}
<div class="hero-unit">
    <h3>Shout loud!</h3>
    <hr/>
    <ul class="unstyled">
        <li><strong>Paweł</strong> <small>(@DateTime.Now)</small>
            <p class="muted">Hello world!</p></li>
    </ul>
    <hr/>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls"><input name="email" type="text" /></div>

        </div>
        <div class="control-group">
            <label class="control-label" for="content">Content</label>
            <div class="controls"><textarea name="content"></textarea></div>

        </div>
        <div class="control-group">
            <div class="controls">
                 <button type="submit" class="btn">Send</button>
            </div>
        </div>
    </form>
</div>
